<div class='container'>

  <div class='row'>

    <div class='col-xs-12'>

      <%= simple_form_for @job_listing, url: job_listings_path, method: :post do |form| %>

        <%= form.input :position %>
        <%= form.input :salary %>
        <%= form.input :description %>

        <%= form.submit 'Save', class: 'btn btn-primary' %>

      <% end %>

    </div>

  </div>

  <div class='row'>

    <div class='col-xs-12'>

      <%= render partial: 'job_listings' %>

    </div>

  </div>

</div>
